* {
	box-sizing: border-box;
}
body {
		background-color: #aeaeae;
		margin: 0;
		padding: 0;
		font-family: Tahoma, sans-serif;
		line-height: 1.5;
		color: #333;
}

.info-lesson {
	background-color: #eee;
	text-align: center;
	//font-family: "", sans-serif;
}
.info-lesson h1 {
	font-size: 30px;
	padding: 5px;
  font-weight: 700;
}
.info-lesson h2 {
	font-size: 24px;
	padding: 5px;
	font-weight: 400;
}
.info-lesson h3 {
	font-size: 20px;
	padding: 5px;
	font-weight: 300;
}


.section {
	padding: 20px 5% 100px 5%;
}
.header {
	text-align: center;
	font-size: 24px;	
	margin-top: 80px;
}
.header span {
	font-weight: 300;
	display: block;
	margin-bottom: 10px;
}
.header strong {
	font-weight: 900;
	text-transform: uppercase;
}
.main {
	margin-top: 80px;
	text-align: center;
}
.video, .form {
	display: inline-block;
	vertical-align: top;
}
.form {
	text-align: center;
	border: 5px solid #2727d9;
	padding: 20px;
	margin-left: 30px;
}
.form-header {
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}
.form input {
	display: block;
	margin-top: 15px;
	width: 300px;
	padding: 17px;
	border: 1px solid #333;
	font-size: 18px;
}
.btn {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	background-color: #2727d9;
	border: none;
	width: 300px;
	height: 60px;
	display: block;
	margin: 11px auto;
}
.col {
	width: 125px;
	display: inline-block;
	text-align: center;
	margin: 10px 70px;
	font-weight: 900;
}
.feature-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}
.feature {
	margin: 60px auto;
	text-align: center;
}
