* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: #aeaeae;
  margin: 0;
  color: #000;
}
.info-lesson {
  font-family: 'Algerian', sans-serif;
  font-weight: 900;
  width: 100%;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 5px #000;
          box-shadow: 5px 5px 5px #000;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 3px #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.main {
  margin-top: 12rem;
}
section {
  height: 100vh;
  padding-top: 15%;
  padding-left: 10%;
}
section img {
  width: 12%;
  display: inline-block;
  margin-left: 3%;
}
.white {
  background: #ffffff url(../img/hero-bg.jpg) center no-repeat;
  background-size: cover;
}
