@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff2') format('woff2'), url('L../fonts/ato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueRegular.woff2') format('woff2'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #aeaeae;
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  color: #333;
}
.info-lesson {
  font-family: 'Algerian', sans-serif;
  font-weight: 900;
  width: 100%;
  background-color: #eee;
  box-shadow: 5px 5px 5px #000;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 3px #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.main {
  margin-top: 220px;
}
.text-box {
  padding-top: 2rem;
}
.result {
  margin-bottom: 0;
  margin-top: 3rem;
}
.fonts {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
.fonts .opensans {
  font-family: 'Open Sans', sans-serif;
}
.fonts .lobster {
  font-family: 'Lobster', sans-serif;
}
.fonts .lato {
  font-family: 'lato', sans-serif;
}
.fonts .bebas {
  font-family: 'bebas', sans-serif;
}
small {
  font-size: 1.3rem;
}
